<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <th:block th:insert="~{parts/includes.html :: head}"></th:block>
    <title>Синтез речи</title>
</head>
<body>
<header th:insert="~{parts/header.html :: header}"></header>

<div class="mainContent shadow p-3 mb-5 bg-light rounded">
    <form>
        <div class="form-group">
            <h3>Настройки синтеза</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="list-group" id="systemSelector">
                        <li class="list-group-item" id="mary-tts-select"
                            aria-current="true" th:onclick="">MaryTTS
                        </li>
                        <li class="list-group-item" id="hmm-select" th:onclick="">Скрытая
                            марковская
                            модель
                        </li>
                    </ul>
                </div>
                <div class="col col-8" id="modelSettings">

                </div>
            </div>
        </div>
        <div class="form-group">
            <h5>Текст для синтеза</h5>
            <textarea class="form-control" aria-describedby="emailHelp"
                      placeholder="Введите текст" rows="5" id="textInput"></textarea>
        </div>
        <button type="button" class="btn btn-primary" th:onclick="synthesizeRequest()">Отправить</button>
    </form>
</div>

<div class="mainContent shadow p-3 mb-5 bg-light rounded">
    <figure>
        <figcaption>Синтезированный звук</figcaption>
        <audio
                controls
                th:src="@{/audio/among us traitor sound meme.m4a}"
                id="audioOutput">
        </audio>
    </figure>

</div>
<th:block th:insert="~{parts/includes.html :: body}"></th:block>
<script type="text/javascript" th:src="@{/script/script.js}"></script>
</body>

</html>