.u-section-1 .u-sheet-1 {
  min-height: 531px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-table-1 {
  margin-top: 16px;
  margin-bottom: 60px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
}