 .u-section-1 {
  background-image: linear-gradient(#e5e5e5, #96aedd);
}

.u-section-1 .u-sheet-1 {
  min-height: 432px;
}

.u-section-1 .u-text-1 {
  width: 457px;
  margin: 19px auto 0;
}

.u-section-1 .u-form-1 {
  height: 413px;
  width: 840px;
  margin: 28px auto 37px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  display: inline-block;
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: linear-gradient(#96aedd, #3e588b);
}

.u-section-2 .u-sheet-1 {
  min-height: 325px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 0 auto;
}

.u-section-2 .u-image-1 {
  width: 179px;
  height: 179px;
  margin: 24px auto 40px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 49px;
    margin-bottom: 60px;
  }
} .u-section-3 {
  background-image: linear-gradient(#96aedd, #3e588b);
}

.u-section-3 .u-sheet-1 {
  min-height: 362px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  text-transform: uppercase;
}