<footer class="u-align-center u-clearfix u-footer u-gradient u-footer" id="sec-3e8e" th:fragment="footer">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-align-left u-small-text u-text u-text-body-alt-color u-text-variant u-text-1">Волгоградский
            государственный университет<br>Институт математики и информационных технологий<br>Кафедра информационных
            систем и компьютерного моделирования<br>
        </p>
        <p class="u-align-left u-small-text u-text u-text-body-alt-color u-text-variant u-text-2">Разработка системы
            синтеза речи<br>
        </p>
        <p class="u-align-left u-small-text u-text u-text-body-alt-color u-text-variant u-text-3">Студент группы
            ПрИб-191<br>Сергеев Роман
        </p>
        <img class="u-align-right u-image u-image-circle u-image-contain u-preserve-proportions u-image-1"
             th:src="@{/images/logo-no-background.png}" alt="" data-image-width="1000" data-image-height="1000">
    </div>
</footer>