<header class="u-clearfix u-gradient u-header u-header" id="sec-8c91" th:fragment="header">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a href="#" class="u-image u-logo u-image-1" data-image-width="1000" data-image-height="378">
            <img th:src="@{/images/logo-no-background.png}" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1" data-responsive-from="MD">
            <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 500;">
                <a class="u-button-style u-custom-active-color u-custom-border u-custom-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                   href="#" style="padding: 11px 30px; font-size: calc(1em + 22px);">
                    <svg class="u-svg-link" viewBox="0 0 24 24">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                    </svg>
                    <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <rect y="1" width="16" height="2"></rect>
                            <rect y="7" width="16" height="2"></rect>
                            <rect y="13" width="16" height="2"></rect>
                        </g>
                    </svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-spacing-2 u-unstyled u-nav-1">
                    <li class="u-nav-item"><a
                            class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90"
                            th:href="@{/}" style="padding: 10px 20px;">Главная</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90"
                            th:href="@{/synthesis}" style="padding: 10px 20px;"> Синтез речи</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90"
                            th:href="@{/hmm}" style="padding: 10px 20px;">СММ</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-active-grey-5 u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90"
                            th:href="@{/history}" style="padding: 10px 20px;">История</a>
                    </li>
                </ul>
            </div>
            <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-border-2 u-border-grey-75 u-container-style u-inner-container-layout u-opacity u-opacity-95 u-palette-1-dark-2 u-sidenav">
                    <div class="u-inner-container-layout u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                      th:href="@{/synthesis}">Главная</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" th:href="@{/synthesis}">
                                Синтез речи</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" th:href="@{/hmm}">
                                CММ</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                      th:href="@{/history}">История</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="u-menu-overlay u-opacity u-opacity-60 u-palette-1-light-1"></div>
            </div>
        </nav>
    </div>
</header>